* {box-sizing: border-box;
    

}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6dd5ed;
    position: fixed;
    height: 100%;
    overflow: auto;
   
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:bold;
  }
  .sidebar a.active {
    background-color: #2abaf1;
    color: black;
    border-style: double;
  }
  .sidebar a.active:hover{
    background-color: #61ccf5;
    color: white;
    border-style: double;
    
  }
  
  
  .sidebar a:hover:not(.active) {
    background-color: #2abaf1;
    color: Black;
    
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  h1 {
  margin-left: 600px;
  }
  .header {
    overflow: hidden;
    background-color:#6dd5ed;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
   max-width: 100%
  }
  
  .header a {
    float: left;
    color:black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: white;
    color: black;
  }
  
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .error {

    background: #be3a3a;
   
    color: #ffffff;
   
    padding: 10px;
   font-size: 20px;
    width: 100%;
   
    border-radius: 5px;
   
    margin: 20px auto;
    font-weight: bold;
   
   }
.ok{
    background: #53ce1a;
   
    color: #000000;
   
    padding: 10px;
   
    font-size: 20px;
    width: 100%;
   
    border-radius: 5px;
   
    margin: 20px auto;
    font-weight: bold;
}
.oke{
  background: #53ce1a;
 
  color: #fdf9f9;
 
  padding: 10px;
  font-size: 20px;

  width: 100%;
 
  border-radius: 5px;
 text-align: center;
  margin: 20px auto;
  font-weight: bold;
  
}


.header a.notif {
  font-size: 20px;
 
  background-color: transparent;
 
}
.header a.notif:hover {
  animation: shake 1s forwards;
  
  
}

@keyframes shake {
  0%{
    transform: rotate(15deg);
    color: yellow;
  }
  20%{
    transform: rotate(-15deg);
  }
  30%{
    transform: rotate(15deg);
    color: yellow;
  }
  50%{
    transform: rotate(0deg);
  }
  
}





