* {
  box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}
.forma label{
  font-size: 30px;
}
.forma input{
    font-size: 20px;
    
}
.forma input[type=text], select {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  .forma input[type=text]:hover {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #44a6c6;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .forma input[type=password], select {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .forma input[type=email], select {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .forma input[type=email]:hover {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #44a6c6;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .forma input[type=password]:hover {
 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #44a6c6;
    border-radius: 4px;
    box-sizing: border-box;
  }

form{
 margin-top: 15%;


}
.submit{
    margin-top: 10px;
    background-color: aquamarine;
    border-style:groove;
    font-size: 30px;
    border-radius: 10px;
}
.submit:hover{
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}
.error {

    background: #be3a3a;
   
    color: #ffffff;
   
    padding: 10px;
   
    width: 40%;
   
    border-radius: 5px;
   
    margin: 20px auto;
    font-weight: bold;
 
     
   
   }
.ok{
    background: #53ce1a;
   
    color: #000000;
   
    padding: 10px;
   
    width: 40%;
   
    border-radius: 5px;
   
    margin: 20px auto;
    font-weight: bold;
   
}




